<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/terrafirma/default.css" />
    <title>Bombardier Configuration Management Database</title>
    <meta name="keywords" content="Bombardier,Configuration,Management" />
    <meta name="description" content="Centralized, cross-platform package deployment, configuration and change management" />
  </head>

  <body>

    <div id="outer">

        <div id="upbg"></div>

        <div id="inner">

            <div id="header">
                <h1>bom<span>bardier</span><sup>1.0</sup></h1>
                <h2>configuration management database</h2>
            </div>
        
            <div id="splash"></div>
        
            <div id="menu">
                {% block topmenu %}
                <ul>
                    <li class="first"><a href="/">Home</a></li>
                    <li><a href="docs/index.html">Documentation</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Ask a question</a></li>
                    <li><a href="#">Report a Bug</a></li>
                </ul>
                {% endblock %}

            <div id="date">##TEMPLATE##</div>
            </div>
        


